* {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

main {
    height: 100vh;
}

#userName p {
    font-weight: bold;
    font-size: clamp(1em, 2vw, 2em);
}

.content-progress {
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgb(128, 128, 128);
    padding: 15px;
}

#text-progress {
    font-size: clamp(1em, 1.2vw, 1.2em);
}

#btnNewTask {
    position: fixed;
    bottom: 2.5rem;
    right: 5rem;
    z-index: 99;
}

.content-task {
    background-color: rgb(54, 54, 54);
    min-height: 45%;
    max-height: 65%;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 2%;
    z-index: 99;
    color: white;
    display: none;
    overflow-y: auto;
}

.content-task p {
    font-size: clamp(1.2em, 1.6vw, 1em);
    font-weight: bold;
}

.content-task ul {
    display: flex;
    justify-content: space-between;
}

#btnBack {
    background: none;
    border: none; 
    color: white;
    font-size: clamp(1.4rem, 2.5vw, 2rem);
    padding-right: 10px;
}

.content-task form button {
    width: 100%;
    margin-top: 3%;
}

@media (max-width: 576px) {
    .content-task {
        padding: 4%;
        border-radius: 15px 15px 0 0;
    }

    .content-task p {
        font-size: 1.2rem;
    }
}

#every-task {
    background-color: rgb(233, 237, 240);
    border: 1px solid rgb(145, 164, 175);
    border-radius: 8px;
    min-height: 20vh;
    padding: 6px;
}

.content-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.content-1 p {
    padding: 0;
    margin: 0;
}

.etiqueta {
    background-color: white;
    width: 80%;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.task {
    font-size: clamp(0.8em, 1.5vw, 2em);
}

.content-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-2 ul {
    display: flex;
    gap: 25%;
}

#btnDelete {
    color: rgb(212, 26, 26);
}

#btnEdit {
    color: rgb(28, 136, 199);
}

/* #allTasks ul p {
    margin: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: clamp(12px, 1vw, 1em);
} */

.completed {
    text-decoration: line-through;
    font-weight: bold;
}